.projects {
}

.projects__container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding: 90px 0 70px;
  border-bottom: 1px solid rgb(156, 151, 151);
}

.projects__swipe-tip {
  display: none;
  opacity: 0;
  top: 50%;
  left: 50%;
  z-index: 11;
  pointer-events: none;
  transform: translateX(-50%) translateY(-50%);
  transition: opacity 0.2s ease-out;
  --dimension: 7vw;
  --width: 80vw;
  position: absolute;
  background: linear-gradient(
    90deg,
    transparent,
    rgb(192 192 192 / 88%),
    transparent
  );
  border-radius: var(--dimension);
  width: var(--width);
  height: var(--dimension);
  color: var(--white);
  font-size: 2.5rem;
  font-family: var(--oswald);
  vertical-align: center;
  text-align: center;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
}

.projects__swipe-tip.in-view {
  animation-name: hide-tip;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes hide-tip {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.projects__swipe-tip::after {
  content: "";
  position: absolute;
  height: var(--dimension);
  width: var(--dimension);
  left: 0;
  border-radius: 50%;
  background-color: rgba(168, 163, 163, 0.8);
  animation-name: swipe-tip;
  animation-duration: 5s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes swipe-tip {
  from {
    transform: translateX(0);
  }

  /* 50% {
    transform: translateX(+20vw);
  } */

  to {
    transform: translateX(calc(var(--width) - var(--dimension)));
  }
}

.projects__description {
  position: absolute;
  left: 0;
  color: var(--white);
  height: 50%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9;
}

.projects__block {
}

.projects__link {
  text-decoration: none;
}

.projects__project {
  position: relative;
  cursor: pointer;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.project__title {
  left: 0;
  top: 40px;
  color: var(--white);
  text-transform: uppercase;
}

.project__title.active:hover {
  text-decoration: underline;
}

.project__title-number,
.project__title-text {
  display: block;
}

.project__title-number {
  font-size: 4rem;
}

.project__title-text {
  background-color: var(--white);
  color: var(--black);
  padding: 4px 8px;
  max-width: 100px;
}

.project__title-text.active:hover {
  text-decoration: underline;
}

.project__photo {
  height: 50%;
  width: 100%;
  object-fit: cover;
  background-color: var(--cube-color);
}

.project__description.active:hover {
  text-decoration: underline;
}
.project__description {
  padding: 20px;
  font-size: 1.5rem;
  color: var(--white);
  bottom: 10px;
  left: 0;
}

@media (max-width: 850px) {
}

@media (max-width: 768px) {
  .projects__swipe-tip {
    display: flex;
  }
}
@media (max-width: 600px) {
}
