.main-page {
  background-color: #010101;
  min-height: calc(100vh - var(--navbar-height));
  height: 100%;
  --dark-grey: rgb(231, 231, 231);
  overflow-x: hidden;
}

.main-page__container {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 100%;
}

.main-page__block {
  min-height: 400px;
  max-height: 1200px;
}

.main-page__first-block {
  height: 100vh;

  background: linear-gradient(to top, #000000, rgba(0, 0, 0, 0)),
    url("../../assets/main-page-bg.png");
  background-position: left;
  background-size: 100px 200px;
  padding-top: var(--navbar-height);
}

.main-page__left {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: flex-end;
  height: 100%;
}

.title {
  font-size: 3rem;
  font-family: var(--nunito);
  font-weight: 700;
  color: rgb(245, 240, 240);
}

.main-page__title {
  background-color: var(--cube-color);
  display: inline-block;
  padding: 5px 10px;
  border-radius: 3px;
}

.main-page__name {
  text-transform: uppercase;
  color: var(--black);
}

.subtitle {
}
.subtitle__text {
  color: white;
  display: inline-block;
  background-color: var(--stylish-color);
  padding: 4px 22px;
  margin: 0px 0;
  border-radius: 3px;
}

.main-page__subtitle {
  margin: 10px 0 20px;
}

.description {
  color: lightgrey;
}

.main-page__description {
  font-size: 1.5rem;
  color: var(--dark-grey);
}

.main-page__right {
  width: 100%;
  height: 100%;
  overflow: visible;
}

.main-page__second-block {
  height: auto;
}

.main-page__third-block {
}
