.white-wrapper {
  background-color: var(--white);
  color: var(--black);
  width: 40%;
  box-sizing: content-box;
  min-width: 280px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.white-wrapper__title {
  font-family: var(--roboto);
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}
