.navbar {
  height: var(--navbar-height);
  position: absolute;
  width: 100%;
  background-size: 400% 400%;
  background-position: 0% 0%;
  color: var(--white);
  animation-name: navbar-background;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 20s;
  /* box-shadow: 0px 2px 4px var(--black); */
}
@keyframes navbar-background {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 99% 99%;
  }
}

.navbar__container {
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar__router-link {
  color: var(--white);
  text-decoration: none;
}

.navbar__logo {
  font-family: var(--nanum);
  font-size: 1.7rem;
  display: flex;
}

.navbar__logo-svg {
  height: calc(var(--navbar-height) * 0.8);
  width: auto;
}

.navbar__logo-bold {
  font-weight: 700;
}

.navbar__logo-light {
  font-weight: 400;
}

.navbar__right-block {
  margin-left: auto;
  flex-grow: 1;
}

.navbar__links {
  display: flex;
  list-style: none;
  font-size: 1.6rem;
  color: rgba(100, 100, 100, 0.9);
  text-transform: uppercase;
  font-weight: 500;
}

.navbar__link {
  margin-right: 15px;
  transition: color 0.2s ease-in-out;
  cursor: pointer;
}

.navbar__link:hover {
  color: var(--white);
}
.navbar__link--lower {
}

.navbar__link:first-child {
  margin-left: auto;
}

.navbar__link:last-child {
  margin-right: 0;
  margin-left: auto;
}

.navbar__text {
  font-family: var(--nanum);
}
